[Unit]
Description=Intrasploit ${name} service

[Service]
Type=simple
User=${user}
Group=${group}
Environment="PYTHONPATH=${home}"
Environment="PATH=${homebin}:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
WorkingDirectory=${home}
ExecStart=${authbind}/usr/bin/env python3 services/${name}.py
